.table {
    border-bottom-width: 0px !important;
    background-color: #212529;
}

.table> :not(caption)>*>* {
    border-bottom-width: 0px !important;
    padding: 0rem 0rem;
}

.rowWidth {
    width: 100%;
}

.headerChamp {
    padding-left: 26px !important;
}

.champion {
    position: relative;
    top: 56px;
}

.grandFinals {
    position: relative;
    top: 45px;
}

.participants {
    margin-left: 24px;
}

.matchBelowLine {
    /* position: relative; */
    /* top: -29px; */
    width: 100%;
}

.matchBelowBracket {
    position: relative;
    top: -29px;
}

.standByText {
    padding-left: 20px;
    opacity: 60%;
    font-style: italic;
}

.matchIndicator {
    opacity: 60%;
    position: relative;
    left: -16px;
    top: -13px;
    font-family: monospace;
}

.matchesBorder {
    margin-left: 16px;
    height: 1px;
    transition: border-color 0.5s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color: #e9ecef94;
}