.table {
    border-bottom-width: 0px !important;
    background-color: #212529;
    width: 950px;
    padding: 0px 50px;
}

.tableFS {
    border-bottom-width: 0px !important;
    background-color: #212529;
    padding: 0px 50px;
    height: 70dvh;
    min-height: 703px;
}

.table> :not(caption)>*>* {
    border-bottom-width: 0px !important;
    padding: 0rem 0rem;
}

.tableFS> :not(caption)>*>* {
    border-bottom-width: 0px !important;
    padding: 0rem 0rem;
}

.repTable {
    border-bottom-width: 0px !important;
    background-color: #212529;
    min-width: 580px;
    width: 100%;
    padding: 0px 50px;
    top: 100px;
    position: relative;
    height: 225px;
}

.repTable> :not(caption)>*>* {
    border-bottom-width: 0px !important;
    padding: 0rem 0rem;
}

.headerSecondplace {
    position: relative;
    top: -38px;
    left: 60px;
}

.secondplace {
    position: relative;
    top: 8px;
    white-space: nowrap;
    left: 36px !important;
}

.repgrandFinals {
    position: relative;
    top: 0px;
}

.repsemis {
    position: relative;
    top: 92px;
}

.repechageTopPanel {
    top: -59px;
    position: relative;
}

.repechageTopStraightLine {
    position: relative;
    top: -59px;
}

.repechageBracketToSemis {
    width: 110px;
    top: -59px;
    position: relative;
}

.repechageBottomPanel {
    top: -77px;
    position: relative;
}

.repechageBottomStraightLine {
    position: relative;
    top: -77px;
}

.repsemisBracket {
    width: 100px;
    position: relative;
    top: 26px;
}

.straightLine {
    width: 110px;
}

.repstraightLine {
    width: 100px;
}

.showSVG {
    overflow: visible;
}

.repBracketBeforeSemis2 {
    position: relative;
    top: -102px;
}

.resultsMax {
    background-color: whitesmoke;
    position: relative;
    top: -16px;
    width: 100%;
    height: 60px;
    transition: 0.5s ease 0s;
}

.resultsMin {
    background-color: whitesmoke;
    position: relative;
    top: -16px;
    width: 100%;
    height: 25px;
    transition: 0.5s ease 0s;
}

.mainRow {
    /* overflow: overlay; */
    width: 79rem;
    height: 505px;
    position: relative;
    min-width: 1464px;
    padding-top: 32px;
}

.endBtn {
    position: absolute;
    top: -14%;
    right: 9%;
}

.endBtnFS {
    position: absolute;
    right: 20px;
    top: -80px;
}

.xEndBtn {
    display: none;
}

.thead {
    position: relative;
    top: -38px;
    left: 26px;
    white-space: nowrap;
}

.rowWidth {
    width: 100%;
    height: 56dvh;
    overflow: overlay;
    padding: 16px;
    min-width: 541.5px;
    min-height: 545px;
}

.rowWidthFS {
    width: 100%;
    height: 67dvh;
    overflow: overlay;
    padding: 16px;
    min-width: 541.5px;
    min-height: 545px;
}

.updateWinnerButton {
    position: relative;
    left: -37%;
}

.xActiveMatch {
    cursor: default;
}

.xActiveMatch>div {
    opacity: 70%;
}

.activeMatch {
    cursor: pointer;
}

.headerChamp {
    color: #0d6efd;
    /* padding-left: 26px !important; */
    position: absolute;
    top: 9px;
    left: 169px;
    /* right: 52%; */
}

.headerChampFS {
    color: #0d6efd;
    /* padding-left: 26px !important; */
    position: absolute;
    top: 174px;
    right: 0%;
}

.champion {
    color: #fc1a19;
    position: absolute;
    top: -17px;
    white-space: nowrap;
    left: 125px !important;
    text-decoration: underline;
    animation: blinker 1s linear infinite;
    /* right: 49% !important; */
}

.championFS {
    color: #fc1a19;
    position: absolute;
    top: 145px;
    white-space: nowrap;
    right: 0% !important;
    text-decoration: underline;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.grandFinals {
    position: relative;
    top: 55px;
}

.participantsWrapperTop {
    position: relative;
    left: 20px;
    border-radius: 3px;
    top: -2px;
    text-align: left;
    min-width: 220px;
    background-color: #dc3545;
    z-index: 10;
}

.participantsWrapperBottom {
    position: relative;
    left: 20px;
    border-radius: 3px;
    top: 2px;
    text-align: left;
    min-width: 220px;
    background-color: #298bff94;
    z-index: 10;
}

.repParticipantsWrapperTop {
    position: relative;
    left: 20px;
    border-radius: 3px;
    top: -2px;
    text-align: left;
    min-width: 140px;
    background-color: #dc3545;
    z-index: 10;
}

.repParticipantsWrapperBottom {
    position: relative;
    left: 20px;
    border-radius: 3px;
    top: 2px;
    text-align: left;
    min-width: 140px;
    background-color: #298bff94;
    z-index: 10;
}

.pmb {
    margin-bottom: 0rem !important;
}

.participants {
    margin-left: 8px;
    white-space: nowrap;
    overflow: hidden;
}

.score {
    width: 24px;
    position: absolute;
    top: 0px;
    right: -4px;
    background-color: white;
    border-radius: 0px 8px 0px 8px;
    color: #0d6efd;
    text-align: center;
}

.winner {
    font-weight: bolder;
}

.matchD {
    position: relative;
    top: -3px;
}

.matchG {
    position: relative;
    top: -54px;
}

.matchH {
    position: relative;
    top: 55px;
}

.roundTwotoThree {
    width: 120px;
    position: relative;
    z-index: 3;
}

.roundThreetoFour {
    width: 120px;
    position: relative;
    top: -30px;
}

.matchBelowLine {
    width: 100%;
}

.matchBelowBracket {
    position: relative;
    top: -29px;
}

.matchBelowBracketA {
    position: relative;
    top: -29px;
    z-index: 3;
}

.matchBelowBracketC {
    position: relative;
    top: -32px;
    z-index: 3;
}


.standByText {
    padding-left: 8px;
    opacity: 60%;
    font-style: italic;
}

.matchIndicator {
    opacity: 60%;
    position: relative;
    left: -16px;
    top: -13px;
    font-family: monospace;
}

.matchesBorder {
    margin-left: 16px;
    height: 1px;
    transition: border-color 0.5s ease 0s;
    /* border-width: 1px; */
    /* border-style: solid; */
    border-color: #e9ecef94;
}

@media (max-width: 1641px) {
    .rowWidth {
        width: 67dvw;
    }

    .rowWidthFS {
        width: 85.9dvw
    }

    .endBtn {
        position: absolute;
        top: -14%;
        right: 12%;
    }
}


@media (max-width: 1529px) {
    .rowWidth {
        width: 66.6dvw;
    }

    .rowWidthFS {
        width: 66.6dvw;
    }

    .endBtn {
        position: absolute;
        top: -14%;
        right: 41%;
    }
}

@media (max-width: 1398px) {
    .rowWidth {
        width: 66.2dvw;
    }

    .rowWidthFS {
        width: 66.2dvw;
    }

    .endBtn {
        position: absolute;
        top: -14%;
        right: 41%;
    }
}

@media (max-width: 1202px) {
    .rowWidth {
        width: 65.6dvw;
    }

    .rowWidthFS {
        width: 65.6dvw;
    }

    .endBtn {
        position: absolute;
        top: -14%;
        right: 41%;
    }
}

@media (max-width: 1080px) {
    .rowWidth {
        width: 65.4dvw;
    }

    .rowWidthFS {
        width: 65.4dvw;
    }

    .endBtn {
        position: absolute;
        top: -37%;
        right: 57%;
    }
}

@media (max-width: 991.98px) {
    .rowWidth {
        width: 64.9dvw;
        height: 47dvh;
        min-height: 459px;
    }

    .rowWidthFS {
        width: 84.6dvw;
        height: 75.1dvh;
        min-height: 459px;
    }

    .endBtn {
        position: absolute;
        top: -37%;
        right: unset;
        left: 38%;
    }
}

@media (max-width: 873px) {
    .rowWidth {
        width: 64.5dvw;
    }

    .rowWidthFS {
        width: 64.5dvw;
    }

    .endBtn {
        position: absolute;
        top: -37%;
        right: unset;
        left: 33%;
    }
}

@media (max-width: 844px) {
    .rowWidth {
        width: 545.4px;
    }

    .rowWidthFS {
        width: 545.4px;
    }

    .endBtn {
        position: absolute;
        top: -37%;
        right: unset;
        left: 33%;
    }
}