.rowWidth {
    width: 100%;
    padding: .5rem 4rem;
}

.rowMinWidth{
    min-width: 1180px;
}

.table {
    border-bottom-width: 0px !important;
    background-color: #212529;
    min-width: 580px; 
    width: 100%;
    padding: 0px 50px;
    top: 80px;
    position: relative;
}

.table> :not(caption)>*>* {
    border-bottom-width: 0px !important;
    padding: 0rem 0rem;
}

.repTable {
    border-bottom-width: 0px !important;
    background-color: #212529;
    min-width: 580px; 
    width: 100%;
    padding: 0px 50px;
    top: 100px;
    position: relative;
    height: 225px;
}

.repTable> :not(caption)>*>* {
    border-bottom-width: 0px !important;
    padding: 0rem 0rem;
}

.thead {
    position: relative;
    top: -38px;
    left: 26px;
    white-space: nowrap;
}


.headerChamp{
    padding-left: 26px !important;
    position: relative;
    top: -38px;
    left: 28px;
}

.headerSecondplace {
    position: relative;
    top: -38px;
    left: 60px;
}

.champion {
    position: relative;
    top: 137px;
    white-space: nowrap;
    right: -32px !important;
}

.grandFinals {
    position: relative;
    top: 129px;
}

.secondplace {
    position: relative;
    top: 8px;
    white-space: nowrap;
    left: 36px !important;
}

.repgrandFinals {
    position: relative;
    top: 0px;
}

.repsemis {
    position: relative;
    top: 47px;
}

.participants {
    margin-left: 8px;
    white-space: nowrap;
    overflow: hidden;
}

.participantsWrapperTop {
    position: relative;
    left: 20px;
    border-radius: 3px;
    top: -2px;
    text-align: left;
    min-width: 140px;
    background-color: #298bff94;
    z-index: 10;
}

.participantsWrapperBottom {
    position: relative;
    left: 20px;
    border-radius: 3px;
    top: 2px;
    text-align: left;
    min-width: 140px;
    background-color: #dc3545;
    z-index: 10;
}

.score {
    width: 24px;
    position: absolute;
    top: 0px;
    right: -4px;
    background-color: white;
    border-radius: 0px 8px 0px 8px;
    color: #0d6efd;
    text-align: center;
}

.pmb {
    margin-bottom: 0rem !important;
}

.matchE {
    position: relative;
    top: 46px;
}
.matchF {
    position: relative;
    top: 118px;
}

.matchtoF {
    position: relative;
    z-index: 3;
}

.matchtoG {
    position: relative;
    z-index: 4;
    top:56px;
}

.matchBelowLine {
    /* position: relative; */
    /* top: -29px; */
    width: 100%;
}

.matchBelowBracket {
    position: relative;
    top: -29px;
}

.matchBelowBracketA {
    position: relative;
    top: -29px;
    z-index: 3;
}

.matchBelowBracketB {
    position: relative;
    top: 16px;
    z-index: 3;
}

.standByText {
    padding-left: 20px;
    opacity: 60%;
    font-style: italic;
}

.matchIndicator {
    opacity: 60%;
    position: relative;
    left: -16px;
    top: -13px;
    font-family: monospace;
}

.matchesBorder {
    margin-left: 16px;
    height: 1px;
    transition: border-color 0.5s ease 0s;
    /* border-width: 1px;
    border-style: solid; */
    border-color: #e9ecef94;
}

.bracketToptoBot{
    overflow: visible;
    width: 108px; 
}

.botBracketOverflow{
    overflow: visible;
}

.repbracketToptoBot{
    overflow: visible;
    width: 108px; 
}

.showSVG{
    overflow: visible;
}

.repechageFirstMatch{
    top:-59px;
    position: relative;
}

.repechageBracketFirstMatch{
    top:-59px;
    position: relative;
}

.repechageSecondMatch{
    top:-77px;
    position: relative;
}

.repechageBracketSecondMatch{
    position: relative;
    top: -77px;
}

@media (max-width: 1672px) {
    .rowWidth {
        margin-right: 80px;
    }
}
