.rowWidth {
    width: 100%;
    padding: .5rem 4rem;
}

.table {
    border-bottom-width: 0px !important;
    background-color: #212529;
    max-width: 1080px;
    min-width: 580px;
    padding: 0px 50px;
    top: 80px;
    position: absolute;
}

.table> :not(caption)>*>* {
    border-bottom-width: 0px !important;
    padding: 0rem 0rem;
}

.repTable {
    border-bottom-width: 0px !important;
    background-color: #212529;
    max-width: 1080px;
    min-width: 580px;
    padding: 0px 50px;
    top: 330px;
    position: absolute;
}

.repTable> :not(caption)>*>* {
    border-bottom-width: 0px !important;
    padding: 0rem 0rem;
}

.thead {
    position: relative;
    top: -38px;
    left: 26px;
    white-space: nowrap;
}

.headerChamp {
    padding-left: 26px !important;
    position: relative;
    top: -38px;
    left: 70px;
}

.headerSecondplace {
    padding-left: 26px !important;
    position: relative;
    top: -38px;
    left: 99px;
}

.champion {
    position: relative;
    top: 51px;
    white-space: nowrap;
    left: 60px !important;
}

.secondplace {
    position: relative;
    top: 8px;
    white-space: nowrap;
    left: 89px !important;
}

.grandFinals {
    position: relative;
    top: 45px;
}

.repgrandFinals {
    position: relative;
    top: 0px;
}

.participants {
    margin-left: 8px;
    white-space: nowrap;
    overflow: hidden;
}

.participantsWrapperTop {
    position: relative;
    left: 20px;
    border-radius: 3px;
    top: -2px;
    text-align: left;
    min-width: 140px;
    background-color: #dc3545;
    z-index: 10;
}

.participantsWrapperBottom {
    position: relative;
    left: 20px;
    border-radius: 3px;
    top: 2px;
    text-align: left;
    min-width: 140px;
    background-color: #298bff94;
    z-index: 10;
}

.score {
    width: 24px;
    position: absolute;
    top: 0px;
    right: -4px;
    background-color: white;
    border-radius: 0px 8px 0px 8px;
    color: #0d6efd;
    text-align: center;
}

.pmb {
    margin-bottom: 0rem !important;
}

.matchBelowLine {
    /* position: relative; */
    /* top: -29px; */
    width: 100%;
}

.matchBelowBracket {
    position: relative;
    top: -29px;
}

.standByText {
    padding-left: 20px;
    opacity: 60%;
    font-style: italic;
}

.matchIndicator {
    opacity: 60%;
    position: relative;
    left: -16px;
    top: -13px;
    font-family: monospace;
}

.matchesBorder {
    margin-left: 16px;
    height: 1px;
    transition: border-color 0.5s ease 0s;
    /* border-width: 1px;
    border-style: solid; */
    border-color: #e9ecef94;
}

.straightLine{
    width: 108px;
}

.bracketToptoBot{
    overflow: visible;
    width: 108px; 
}

.repechageD{
    max-width:391px;
    min-width:182.77px;
}