.bracketWrapper {
    padding: .5rem 4rem;
    position: relative;
    background-color: #212529;
    width: 95%;
    height: 95%;
    z-index: 50;
    margin: auto;
    padding: 8px;
}

.bracketWrapperFS {
    top: 120px;
    background-color: #212529;
    padding: .5rem 4rem;
    position: relative;
    overflow: visible;
    width: 90%;
    height: 80%;
    z-index: 60;
    animation : table 2s forwards;
}

@keyframes table {
    0%{
        overflow: hidden;
    }
    25%{
        overflow: hidden;
    }
    50%{
        overflow: hidden;
    }
    75%{
        overflow: hidden;
    }
    100%{
        overflow: visible;
    }
    
}

.fsLink {
    width: 115px;
    position: absolute;
    top: -26px;
    right: 24px;
    cursor: zoom-in;
}

.relativeDiv{
    position: relative !important;
}

.hiddenBracketInfo{
    width: 0%;
    height: 20px;
    position: absolute;
    overflow: hidden;
    display: none;
}

.bracketInfo {
    top:20px;
    left:40px;
    width: 100%;
    height: 20px;
    position: absolute;
    color:white;
    padding:16px;
    white-space: nowrap;
    display: inline-flex;
    animation: toDisplay 2s forwards;
}

.bracketInfo strong{
    margin-left: 16px;
    padding-top: 8px;
}

@keyframes toDisplay {
    0% {
        width:0%;
        height: 0px;
        padding:0px;
        overflow: hidden;
    }
    25% {
        width: 0%;
        height: 0px;
        padding:0px;
        overflow: hidden;
    }
    50% {
        width: 0%;
        height: 0px;
        padding:0px;
        overflow: hidden;
    }
    75% {
        width: 0%;
        height: 0px;
        padding:0px;
        overflow: hidden;
    }
    100% {
        width: 100%;
        height: 20px;
        padding:16px;
    }

}

.bracketContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: .5rem;
    background-color: #212529;
    min-height: 60dvh;
    overflow: overlay;
}


.bracketContainerFS {
    background-color: #212529;
    top: 12%;
    z-index: 20 !important;
    left: 6%;
    width: 88dvw;
    min-width: 1140px;
    height: 84dvh;
    min-height: 844px;
    position: absolute;
    animation: maximize 2s forwards;
}

@keyframes maximize {
    from {
        top: 30%;
        left: 25%;
        min-width: 596px;
        height: 605px;
        width: 940px;
        z-index: 50;
        background-color: #212529;
    }

    to {
        top: 12%;
        z-index: 50 !important;
        left: 6%;
        width: 88dvw;
        height: 84dvh;
        background-color: #212529;
        position: absolute;
    }
}



.minimizeLink {
    color: white;
    width: 115px;
    position: absolute;
    right: 24px;
    bottom: 24px;
    cursor: zoom-out;
    opacity: 80%;
}

.hidemnmLink {
    display: none;
}