.bracketContainer {
    background-color: #212529;
    min-height: 57dvh;
    border-radius: 16px;
    margin-top: 16px;
    padding-top:16px;
}


.bracketContainerFS {
    background-color: #212529;
    top: 12%;
    z-index: 20 !important;
    left: 6%;
    width: 88dvw;
    /* min-width: 1140px; */
    min-height: 682px;
    position: absolute;
    animation: maximize 2s forwards;
    border-radius: 16px;
    overflow: overlay;
}

@keyframes maximize {
    from {
        top: 30%;
        left: 25%;
        min-width: 596px;
        height: 605px;
        width: 940px;
        z-index: 50;
        background-color: #212529;
    }

    to {
        top: 12%;
        z-index: 50 !important;
        left: 6%;
        width: 88dvw;
        height: 84dvh;
        background-color: #212529;
        position: absolute;
    }
}

.bracketWrapper {
    position: relative;
    min-width: 1080px;
    min-height: 540px;
    /* z-index: 50; */
    margin: auto;
}

.bracketWrapperFS {
    top: 120px;
    /* background-color: orange; */
    padding: .5rem .1rem;
    position: relative;
    overflow: visible;
    width: 100%;
    height: 80%;
    z-index: 60;
    animation: table 2s forwards;
}

@keyframes table {
    0% {
        overflow: hidden;
    }

    25% {
        overflow: hidden;
    }

    50% {
        overflow: hidden;
    }

    75% {
        overflow: hidden;
    }

    100% {
        overflow: visible;
    }

}


.relativeDiv {
    position: relative !important;
}

.hiddenBracketInfo {
    width: 0%;
    height: 20px;
    position: absolute;
    overflow: hidden;
    display: none;
}

.bracketInfo {
    top: 20px;
    left: 60px;
    width: 50% !important;
    height: 40px;
    position: absolute;
    color: white;
    padding: 16px;
    white-space: nowrap;
    display: inline-flex;
    animation: toDisplay 2s forwards;
}

.bracketInfo strong {
    margin-left: 16px;
    padding-top: 8px;
}

@keyframes toDisplay {
    0% {
        width: 0%;
        height: 0px;
        padding: 0px;
        overflow: hidden;
    }

    25% {
        width: 0%;
        height: 0px;
        padding: 0px;
        overflow: hidden;
    }

    50% {
        width: 0%;
        height: 0px;
        padding: 0px;
        overflow: hidden;
    }

    75% {
        width: 0%;
        height: 0px;
        padding: 0px;
        overflow: hidden;
    }

    100% {
        width: 100%;
        height: 40px;
        /* padding: 16px; */
    }

}

/* .fsLink {
    width: 54px;
    position: absolute;
    top:-33px;
    right: 3%;
    cursor: zoom-in;
    color: #ff1f06;
    z-index: 30;
}

.fsLink:hover{
    color:#2592ff;
}

.fsLinkHidden {
    z-index: 0;
    display: none;
} */

.minimizeLink {
    color: #2592ff;
    width: 50px;
    position: absolute;
    right: 2%;
    top: -15%;
    cursor: zoom-out;
    opacity: 80%;
}

.minimizeLink:hover{
    color: #ff1f06;
}

.hidemnmLink {
    display: none;
}

@media (max-width: 1398px) {
    .bracketContainer{
        min-height: 54dvh;
    }

}

@media (max-width: 991.98px) {
    .bracketContainer {
        min-height: 48dvh;
    }

    .bracketWrapper{
        min-height: 456px;
    }

    .bracketContainerFS {
        top: 10% !important;
        height: 88dvh !important;
        width: 88dvw !important;
    }

}