.perList{
    margin-bottom: 8px;
    border-radius: 8px !important;
    transition: box-shadow 0.3s ease-in-out;
}

.perList:hover{
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75)
}

.zIndexZero {
    z-index: 0 !important;
}

.noWrapEllipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.width100 {
    width: 100%;
}   

.headerNav{
    font-weight: bold;
    background-color: #0b5ed7 !important;
    opacity: 100 !important;
    border-color: #0b5ed7 !important;
}