
.heightWrapperMem {
    min-height: 25.6rem;
}

.heightWrapper {
    min-height: 22rem;
}

.heightWrapperOrg {
    min-height: 25.6rem;
}

.container {
    margin-bottom: 30px;
}

.topStyles {
    height: 38dvh;
}

.botStyles {
    height: 44dvh;
}

.minWidth {
    min-width: 350px;
}

.overflowControl {
    overflow: overlay;
}