.liList{
  cursor: pointer;
}
.myanchor {
  position: static;
  transition: all .35s;
  z-index: 5;

}

.myanchor > div > h6, .myanchor > div > small {
  position: relative;
  z-index: 5;
}

.anchorTrigger:hover .myanchor:after {
  /* Add the properties you want when .anchorTrigger is hovered */
  width: 100%;
}

.anchorTrigger:hover .myanchor {
  /* Add the properties you want when .anchorTrigger is hovered */
  color: black;
  z-index: 5;
}

.myanchor:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #004bac;
  transition: all .35s;
  opacity: .4;
}
/* This will make the .remove element invisible by default */
.remove {
  position: absolute;
  right: 10px;
  opacity: 0;
  transition: opacity .35s;
  z-index: 3; 
}

/* This will make the .remove element visible when .myanchor is hovered */
.anchorTrigger:hover .remove {
  opacity: 1;
}


.mydivelement {
  padding-right: 10px; /* Add padding to reduce space */
}

.mycontainer {
  display: flex;
  justify-content: flex-start; /* Align items at the start */
}

.mydivelement:not(:last-child) {
  margin-right: 95px; /* Add margin to the right of all elements except the last one */
}