.trContainer{
    height: 24px;
}

.logContainer{
    height:53dvh;
    min-height: 521px;
    overflow: overlay;
}

.tableContainer{
    margin: 8px auto;
}

.logText{
 color: black;    
}

.date{
    color: #ff1617;
}

.time{
    color: #014bac;
}

.logAuthor{
    color: #0D6EFD;
}