.tournamentForm {
    overflow: overlay;
    padding: 26px;
    height: 90%;
    width: 100%;
    margin-right: 16px;
    margin-bottom: 16px;
}

.tournamentMainForm {
    overflow: visible;
    padding: 24px 8px 8px 8px;
    height: 100%;
    width: 100%;
    margin-bottom: 16px
}

.tournamentHeaderForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 75%;
}

.tabContainer {
    margin-top: 16px;
}

.timePicker {
    min-width: 168px;
}

.categoryCards {
    min-width: 294px;
}

.custom-time-picker div,
.custom-time-picker input {
    border: none !important;
    /* The `!important` flag can be used to override the existing styles, but use it sparingly. */
}

.animate-bracket-container {
    transform: scale(1.2, 1.2);
}

.posRel {
    position: relative;
}

.details {
    font-weight: 600;
}

.participantsH {
    height: 65%;
}

.textRight {
    text-align: right;
}

.wrapperFormStyle {
    justify-content: 'flex-center';
    padding-top: '20px';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    height: 88vh;
    margin: 0 auto;
    overflow: overlay;
}

.containerform {
    display: flex;
    height: 90dvh;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid #41464b33;
    width: 70dvw;
    border-radius: 32px;
    overflow: hidden;
    min-width: 596px;
    min-height: 816px;
}

.logsMainForm {
    overflow: hidden;
    padding: 26px;
    height: 100%;
    width: 100%;
    margin-right: 16px;
}

.fsLink {
    margin-top: 8px;
    margin-left: 16px;
    cursor: zoom-in;
    color: #ff1f06;
}

.fsLink:hover{
    color:#2592ff;
}

.fsLinkHidden {
    z-index: 0;
    display: none;
}

.flexBtns {
    margin-right:16px;
}


@media (max-width: 1082px) {
    .flexBtns {
        top: -28px;
        right: 0px;
        display: block !important;
        position: absolute;
    }
    
    .flexMax {
        position: absolute;
        right: 18px;
    }
}

@media (max-width: 767.98px) {
    .tournamentHeaderForm {
        width: 100%;
    }

}